.clear-day {
  background-image: url("../assets/images/clear-day.png");
}

.clear-night {
  background-image: url("../assets/images/clear-night.png");
}

.cloudy {
  background-image: url("../assets/images/cloudy.png");
}

.fog {
  background-image: url("../assets/images/fog.png");
}

.hail {
  background-image: url("../assets/images/hail.png");
}

.partly-cloudy-day {
  background-image: url("../assets/images/partly-cloudy-day.png");
}

.partly-cloudy-night {
  background-image: url("../assets/images/partly-cloudy-night.png");
}

.rain {
  background-image: url("../assets/images/rain.png");
}

.sleet {
  background-image: url("../assets/images/sleet.png");
}

.snow {
  background-image: url("../assets/images/snow.png");
}

.thunderstorm {
  background-image: url("../assets/images/thunderstorm.png");
}

.tornado {
  background-image: url("../assets/images/tornado.png");
}

.wind {
  background-image: url("../assets/images/wind.png");
}
